body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/*NAVEGACION*/
header{
    width: 100%;
    height: 60px;
}

header nav{
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right-section{
    width: 15%;
    list-style: none;
    /*se usa display para que nos habilite el flex*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
a{
/*quita la lineas de abajo*/
    text-decoration: none;
}

nav .nav-right-section a{
    margin-right:20px;
    color: rgba(0,0,0,.87);
}

nav .nav-right-section .menu{
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 22px;
    height: 22px;
    /*se abre al maximo de wi y he*/
    background-size: contain;
    background-repeat: no-repeat;
}
nav .nav-right-section img{
    width: 32px;
    height: 32x;
    margin-left: 20px;
    margin-right: 15px;
    border-radius: 40px;;
}

/*BUSCADOR- MAIN*/

main{
    margin-top: 5%;
    text-align: center;
}

main .main-logo{
    width: 550px;
    /*NO margen arribe y abajo
    el auto es izquierda y derecha se ajustan automaticamente*/
    margin: 0 auto;
    margin-bottom:35px ;
}

main .main-logo img{
    height: 120px;
}

main .main-input{
    width: 530px;
    margin: 0 auto;

}

main .main-input-container{
    border:1px solid #dfe1e5;
    width: 525px;
    border-radius:30px; 
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

main .main-input input{
    border:none;
    height: 40px;
    outline: none;
    width: 480px;
}
main .main-input-container:hover{
    border-color: #dfe1e500;
    box-shadow: 0 1px 6px 0px #20212447;
}

main .main-input .search-icon{
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    background-position: center;
    background-size: contain;
    height: 15px;
    padding-left: 6%;
    background-repeat: no-repeat;
}
/*MICRO ICON*/
main .main-input .micro-icon{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
    background-position: center;
    background-size: contain;
    height: 15px;
    padding-left: 6%;
    background-repeat: no-repeat;
}

/*CAM ICON*/
main .main-input .cam-icon{
    background-image: url(https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg);
    background-position: center;
    background-size: contain;
    height: 15px;
    padding-left: 6%;
    background-repeat: no-repeat;
}

main .main-buttons{
    width: 530px;
    margin: 0 auto;
}

main .main-buttons div{
    display: inline-block;
}

main .main-buttons button{
    border: 0;
    background-color: #f8f9fa;
    font-size: 18px;
    color: #3c4043;
    height: 40px;
    border-radius: 4px;
    padding:0 15px;
    margin-right: 15px;
    
}
/*HOVER DE LOS BOTONES*/

main .main-buttons button:hover{
    border-color: #dfe1e500;
    box-shadow: 0 1px 6px 0px #20212447;    
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    position:static;
}

footer div {
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer ul li a {
    color: #333;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer span {
    display: block;
    color: #666;
}



body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
    background-color: #f0f0f0; /* Opcional: Agrega un color de fondo al footer */
    padding: 20px;
}
